<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Coast To Retirement Calculator</title>

<!-- CSS / Script Libraries -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src='https://unpkg.com/vue@next'></script>
<script src='https://unpkg.com/vue-chartjs@3.5.1/dist/vue-chartjs.min.js'></script>

</head>
<body class="container mt-4">

<!-- Application HTML Vue Template -->

<div id="app">
  <div class="container mt-4 mb-4">
    <h1 class="">{{appTitle}}</h1>
    <hr>
    <calc-num v-model.number="params.currentIncome" type="dollar">Net Income</calc-num>
    <calc-num v-model.number="params.currentSavings" type="dollar">Annual Savings</calc-num>
    <calc-num v-model.number="params.currentWorth" type="dollar">Starting Net Worth</calc-num>
    <calc-num v-model.number="params.currentAge" type="int">Current Age</calc-num>
    <hr>
    <calc-num v-model.number="params.coastAge" type="int" readonly>Coast Age</calc-num>
    <calc-num v-model.number="params.retireAge" type="int">Retirement Age</calc-num>
    <calc-num v-model.number="params.costOfLiving" type="dollar" readonly>Cost of Living</calc-num>
    <calc-num v-model.number="params.retireWorth" type="dollar" readonly>Retirement Needed</calc-num>
    <hr>
    <calc-num v-model.number="params.returnOnInvestment" type="percent">Average Returns</calc-num>
    <calc-num v-model.number="params.rateOfInflation" type="percent">Annual Inflation</calc-num>
    <hr>
  </div>

  <div id="results">
  <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="chart-tab" data-bs-toggle="tab" data-bs-target="#chart-tab-pane" type="button" role="tab" aria-controls="chart-tab-pane" aria-selected="true">Chart</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="table-tab" data-bs-toggle="tab" data-bs-target="#table-tab-pane" type="button" role="tab" aria-controls="table-tab-pane" aria-selected="false">Table</button>
    </li>
  </ul>
  <div class="tab-content " id="myTabContent">

    <div class="tab-pane fade show active" id="chart-tab-pane" role="tabpanel" aria-labelledby="chart-tab" tabindex="0">
      <canvas id="myCanvas" ref="myCanvas" width="400" height="200"></canvas>'
    </div>

    <div class="tab-pane fade" id="table-tab-pane" role="tabpanel" aria-labelledby="table-tab" tabindex="0">
      <table class="table table-striped table-sm text-center mt-4">
        <thead>
          <tr>
            <th scope="col">Age</th>
            <th scope="col">Savings</th>
            <th scope="col">Earned Interest</th>
            <th scope="col">Contribution</th>
          </tr>
        </thead>
        <tbody style="font-family: 'Courier New', Courier, monospace; font-size:110%">
          <tr v-for="yr in calculations" :class="[tableColor(yr)]">
            <th scope="row">{{yr.age}}</th>
            <td>{{printDollar(yr.savings, 100)}}</td>
            <td>{{printDollar(yr.interest, 100)}}</td>
            <td>{{printDollar(yr.contribution)}}</td>
          </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
    
</div>

<!-- Application Code -->
<script>

const App = Vue.createApp({
  data() {
    return {
      appTitle: 'Coasting to Retirement',
      params: {
        currentIncome: 71000,
        currentSavings: 16000,
        currentWorth: 65000,
        currentAge: 25,
        retireAge: 55,

        interestPercent : 0,
        costOfLiving: 0,
        retireWorth: 0,
        coastAge: 0,

        returnOnInvestment: 9.0,
        rateOfInflation: 4.0,
      },

      dollarFmt: null,
      printDollar: null,
      calculations: [],

      chart: null,
      chartData: {
        labels: [0,1,2],
        datasets: [{
          label: 'Total Savings',
          data: [4,5,6],
          fill: true,
          borderColor: 'rgb(75, 192, 192)',
          borderWidth: 3,
          tension: 0.2,
        }]
      },
      chartOptions: {

      } 
    }
  },

  watch: {
    params: {
      handler(newParams, oldParams) {
        this.updateCalculations()
        this.drawChart()
      },
      deep: true
    },
  },
 
  created() {

    this.dollarFmt =
        new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD',
        currencySign: 'accounting',
        maximumFractionDigits: 0
        });

    this.printDollar = function (num, rnd) {
      if (num === 0) return '-'
      if (rnd) { 
        num = Math.floor(num / rnd) * rnd
      }

      return this.dollarFmt.format(num)
    }

    this.updateCalculations()
  },

  mounted() {
    this.drawChart()
  },

  methods: {

    drawChart() {
      const ctx = this.$refs.myCanvas?.getContext('2d')
      if (ctx) {
        if (this.chart) {
          this.chart.destroy()
        }

        this.chart = new Chart(ctx, {
        type: 'line',
        data: this.chartData,
        options: this.chartOptions
      })
      }

    },

    tableColor(yr) {
      if (yr.stage === 2)
        return 'table-primary'
      else if(yr.stage == 3)
        return 'table-success'
    }, 

    updateCalculations() {

      function canCoastToRetire(age, savings) {
        for(age; age < params.retireAge; age++) {         
          savings *= (1 + params.interestRate)
          if (savings > params.retireWorth) {
            return true
          }
        }
        return false
      }

      const params = this.params
      params.interestRate = (params.returnOnInvestment - params.rateOfInflation) / 100
      params.costOfLiving = Math.floor(params.currentIncome - params.currentSavings)
      params.retireWorth = Math.floor(params.costOfLiving / params.interestRate)

      let savings = params.currentWorth
      let stage = 1
      let newResults = []

      for(let age = params.currentAge; age < 100; age++) {
        
        const interest = savings * params.interestRate
        let contribution = 0

        if (stage === 1) {
          if (canCoastToRetire(age, savings)) {
            params.coastAge = age
            stage = 2
          } else {
            contribution = params.currentSavings
          }
        }
        
        if (age >= params.retireAge) {
          stage = 3
          contribution = -(params.costOfLiving)
        }

        newResults.push(
          { age, 
            savings, 
            interest,
            contribution,
            stage });

        savings += interest + contribution
      }
      
      //const chartLabels = newResults.filter((e, i) => i % 3 === 3 - 1).map(x => x.age)
      //const chartData = newResults.filter((e, i) => i % 3 === 3 - 1).map(x => Math.floor(x.savings))
      this.chartData.labels = newResults.map(x => x.age)
      this.chartData.datasets[0].data = newResults.map(x => Math.floor(x.savings))

      this.calculations = newResults    
    } 
  },
})

const calcNum = {
  props : ['modelValue', 'type', 'readonly'],
  template: 
  '<div class="row mt-2"> \
    <label class="col col-form-label text-end"> \
      <slot></slot> \
    </label> \
    <div class="col input-group input-group-sm"> \
      <span v-if="isDollar" class="input-group-text">$</span>\
      <input :value="modelValue" @change="updateModelValue" class="form-control text-end" v-bind="isDisabled" placeholder="" type="text"> \
      <span v-if="isPercent" class="input-group-text">%</span>\
      <span v-if="isInt" class="input-group-text">yr</span>\
    </div> \
  </div>',

  computed: {
    isDisabled() {
      return { disabled: this.readonly }
    },
    isPercent() {
      return this.type == "percent"
    },
    isDollar() {
      return this.type == "dollar"
    },
    isInt() {
      return this.type == "int"
    },
  },

  methods: {
  updateModelValue(e) {
    //if (validate a number) {
      this.$emit('update:modelValue', e.target.value)
    //}
  }},
}

App.component('calc-num', calcNum)
App.mount('#app')

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>


